.todo {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  gap: 1rem;
  align-items: start;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.add-task {
  background-color: var(--accent);
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-task:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.1);
}

.add-task:active {
  transform: translateY(0);
  box-shadow: none;
}
