* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-bg: #ffffff;
  --sec-bg: #f5f6fa;
  --accent: #4880ff;
  --text-col: rgb(32, 34, 36);
  --text-light: rgba(32, 34, 36, 0.5);
  --icon-cyan: rgb(0, 182, 155);
  --icon-cyan-light: rgba(0, 182, 155, 0.2);
  --icon-red: #f93c65;
  --status-danger: rgb(239, 56, 38);
  --status-danger-light: rgba(239, 56, 38, 0.2);
  --status-process: rgb(98, 38, 239);
  --status-process-light: rgba(98, 38, 239, 0.2);
  --status-hold: rgb(255, 167, 86);
  --status-hold-light: rgba(255, 167, 86, 0.2);

  --light-grey: #D5D5D5;
  --darker-grey: #888888;
}

body {
  font-family: "SF Pro Display", sans-serif;
  color: var(--text-col);
}

.container {
  background-color: var(--main-bg);
  border-radius: 14px;
}

section {
  height: 100%;
  overflow-y: auto;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
