* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-bg: #ffffff;
  --sec-bg: #f5f6fa;
  --accent: #4880ff;
  --text-col: rgb(32, 34, 36);
  --text-light: rgba(32, 34, 36, 0.5);
}

body {
  font-family: "SF Pro Display", sans-serif;
  color: var(--text-col);
}

.container {
  background-color: var(--main-bg);
  border-radius: 14px;
}
