* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-bg: #ffffff;
  --sec-bg: #f5f6fa;
  --accent: #4880ff;
}

.container {
  background-color: var(--main-bg);
  border-radius: 14px;
}