.task-card {
  display: flex;
  border: 1px solid var(--light-grey);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.task-card .task-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.task-icon {
  width: 2rem;
  height: 2rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.xmark-btn {
  padding: 0.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.task-icon.xmark {
  width: 1rem;
  height: 1rem;
  fill: var(--darker-grey);
}

.star-solid {
  fill: var(--icon-yellow);
}

.star-reg {
  fill: var(--darker-grey);
}
